@import '~antd/dist/antd.css';

.container__editor {
  background-color: #273e47;
  color: #ececec;
}

.card {
  position: relative;
  width: 70px;
  background-size: contain;
  background-position: 0 0;
}

.card.unknown {
  background-size: 70px 98px;
}

.card::after {
  content: " ";
  display: block;
  padding-top: 140%;
}

.hand,
.stack {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hand .card,
.stack .card {
  position: relative;
}

.hand .card-wrapper,
.stack .card-wrapper {
  position: absolute;
}

.jass-table {
  margin-left: auto;
  margin-right: auto;
  width: 480px;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 60px;
  border: 3px solid black;
}

.jass-table .col {
  width: 33.3%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jass-table .col:after {
  display: block;
  content: "";
  padding-top: 100%;
}




/*
.react-json-view .icon-container {
  display: none !important;
} */

/*
.react-json-view .object-key-val {
  display: inline-block !important;
} */

.react-json-view .icon-container {
  position: relative;
  top: 3px;
}

.react-json-view .expanded-icon {
  position: relative;
  top: 3px;
}

/* .react-json-view .icon-container + span {
  display: none !important;
} */

.react-json-view .node-ellipsis {
  font-size: 12px !important;
}