@import '~antd/dist/antd.css';

.container__editor {
  background-color: #273e47;
  color: #ececec;
}

.card {
  position: relative;
  width: 100px;
  background-size: contain;
  background-position: 0% 0%;
}

.card::after {
  content: " ";
  display: block;
  padding-top: 140%;
}

.hand,
.stack {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hand .card,
.stack .card {
  position: relative;
}

.hand .card-wrapper,
.stack .card-wrapper {
  position: absolute;
}

.jass-table {
  width: 80%;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.jass-table .col {
  width: 33.3%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jass-table .col:after {
  display: block;
  content: "";
  padding-top: 100%;
}
